<%- contentFor('body') %>
<br><br>
<br><br>
<br><br>

<label id="text_inserare_campuri" for="data">Data:</label>
<input class="culoare" type="date" id="data" name="data">
<button id="addEventButton" class="butoane_trimitere">Selecteaza data</button>
<br><br>

<!-- Dropdown for 'masa' selection -->
<label id="text_inserare_campuri" for="masaSelect">Selecteaza masa:</label>
<select id="masaSelect" name="masaSelect">
    <option value="masa1">masa 1</option>
    <option value="masa2">masa 2</option>
    <option value="masa3">masa 3</option>
</select>
<br><br>

<div id="calendar">
    <input type="text" id="searchBar" placeholder="Cautare aliment">
    <input type="number" id="eventText" placeholder="Introdu cantitatea(g)">
    <ul id="searchResults" style="color:white"></ul>
</div>




<div id="selectedProduct">
    <button id="addToDatabaseButton" class="butoane_trimitere" disabled>Adaugare</button>
</div>

<!-- Include the following <script> tag -->
<script src="/js/calendar.js"></script>
<script src="/js/calorii.js"></script>

<!-- Include the produse data -->
<script>
    const produse = <%- JSON.stringify(produse) %>;
</script>

<!-- Include the search.js script -->
<script src="/js/search.js"></script>

</body>
</html>
