<%- contentFor('body') %>

<form action="/inserare-nou" method="POST">
    <label for="productName">Product Name (letters and spaces only):</label>
    <input type="text" id="productName" name="productName" pattern="[A-Za-z ]+" required>
    <br><br>

    <label for="productPrice">Product Price (numbers only):</label>
    <input type="text" id="productPrice" name="productPrice" pattern="[0-9]+" required>
    <br><br>

    <button type="submit">Add Product</button>
</form>

</body>
</html>
