<%- contentFor('body') %>
<br><br>
<br><br>
<br><br>

<form action="/inserare-nou" method="GET"> <!-- Use GET method -->
    <label id="text_inserare_campuri" for="productName">Nume aliment (doar litere si spatii):</label>
    <input type="text" id="productName" name="productName" pattern="[A-Za-z ]+" required>
    <br><br>

    <label id="text_inserare_campuri" for="productPrice">Nr. calorii (doar cifre):</label>
    <input type="text" id="productPrice" name="productPrice" pattern="[0-9]+" required>
    <br><br>

    <button type="submit">Adauga produs</button>
</form>



</body>
</html>
