<%- contentFor('body') %>

<br></br>
<br></br>
<br></br>


<button id="butoane">
    <a href='calculator_calorii'>Recomandare calorica</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='adaugare_masa'>Adaugare masa</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='istoric'>Istoric</a>
</button> &nbsp; &nbsp; &nbsp;

<button id="butoane">
    <a href='logout'>Logout</a>
</button> &nbsp; &nbsp; &nbsp;

