<%- contentFor('body') %>

<br></br>

<button id="butoane">
    <a href='chestionar'>Chestionar</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='adaugare_masa'>Adaugare masa</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='istoric'>Istoric</a>
</button> &nbsp; &nbsp; &nbsp;



<div id="produse">
    <h1>Product List</h1>
    <ul>
        <% for (var i = 0; i < produse.length; i++) { %>
        <li><%= produse[i].name %> - <%= produse[i].pret %></li>
        <% } %>
    </ul>
</div>