<%- contentFor('body') %>

<br></br>

<button id="butoane">
    <a href='autentificare'>Autentificare</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='chestionar'>Chestionar</a>
</button> &nbsp; &nbsp; &nbsp;

