<%- contentFor('body') %>

<br></br>
<br><br>
<br><br>
<br><br>

<button id="butoane">
    <a href='chestionar'>Chestionar</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='creare-BD'>Creare baza de date</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>
<button id="butoane">
    <a href='inserare-BD'>Inserare baza de date</a>
</button> &nbsp; &nbsp; &nbsp;
<button id="butoane">
    <a href='logout'>Logout</a>
</button> &nbsp; &nbsp; &nbsp;
