<%- contentFor('body') %>

<button id="butoane">
    <a href='/inserare-prestabilite'>Inserare produse prestabilite</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>

<button id="butoane">
    <a href='/inserare-nou'>Inserare produs nou</a>
</button> &nbsp; &nbsp; &nbsp;
<br></br>

</body>
</html>