<%- contentFor('body') %>

<label for="data">Data:</label>
<input class="culoare" type="date" id="data" name="data">
<button id="addEventButton">Add Event</button>
<br><br>

<div id="calendar"></div>
<script src="/js/calendar.js"></script>
<!-- Include the following <script> tag -->

    <div id="produse">
        <h1>Masa1</h1>
        <ul>
            <% for (var i = 0; i < products.length; i++) { %>
            <li><%= products[i].dataa %> - <%= products[i].masa1 %> - <%= products[i].calorii_masa1 %></li>
            <% } %>
        </ul>
        
    </div>

</body>
</html>
