<!DOCTYPE html>

<html lang="ro">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/css/stil.css">
    <title>NutriPlan</title>
</head>
        
    <body>
        <header>
            <p>NutriPlan</p>
            <button id="buton_home" ><a href='/home'>Acasa</a></button>
        </header>
        <div id="calendar"></div>


        <footer>

        </footer>

    </body>
  </html>

<%-body%>