<%- contentFor('body') %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style="color:rgb(0, 0, 0); font-size:23px; text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #fffcfc, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;">Site-ul este in mentenanta.
</br>
Contactati administratorul.
</p>

</body>
</html>
