<%- contentFor('body') %>
<div class="rezultat_chestionar">
    <h2>Ati raspuns corect la <%=ok%> intrebari </h2>    
</div>

<button id="buton_mai_incearca"><a href='/chestionar'>Mai incearca</a></button>

